# Define upstream servers to be load balanced
upstream backend_servers {
    server backend1_ip:port;
    server backend2_ip:port;
    # Add more servers as needed
}

# Load Balancer configuration
server {
    listen 8000;
    server_name myloadbalancer.yourdomain.com;

    location / {
        proxy_pass http://backend_servers;
        # Additional proxy settings can be added here
    }
}

